<div class="weatherCard boxShadow1" >
	<div class="row" style="padding: 10px 10px">
		<div class="col-md-4 col-xs-4" >
			<div class="tumperatura" >{{day.time_hour}}:{{day.time_min}}</div>
			<div class="date" >{{day.date}}</div>
			<div class="month">{{day.month}}</div>
		</div>
		<div class="col-md-8 col-xs-8 colom" >
			<div>Температура: <span class="tumperatura">{{day.temperature}}</span></div>
			<div>Характеристика: <img class="media-object" ng-src="{{'img/charact/'+day.charact+'.png'}}" width="30px" height="30px"/></div>
			<div>Ветер: <img class="media-object" ng-src="{{'img/wind/'+day.wind+'.png'}}"  width="30px" /></div>
			<div>Влажность: <span class="air">{{day.air}}%</span></div>
		</div>
	</div>
</div>	