<!DOCTYPE html>
<html lang="en" >
 <head>
  	<title>Meteo</title>
	<link rel="icon" href="img/charact/Clear.png" />
	 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="style/reset.css" />
    
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
	
	<script type="text/javascript" src="js/controllers.js"></script>
	
	<link rel="stylesheet" href="style/jquery.mCustomScrollbar.css" />
	<link rel="stylesheet" href="style/bootstrap.min.css" />
	<link rel="stylesheet" href="style/style_card.css" />
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

	<script  type="text/javascript" src="js/bootstrap.min.js"></script>

	<script src="js/MainScript.js"></script>
	<script src="js/UpdateData.js"></script>
	<script src="js/Canvas.js"></script>
	
	<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>

</head>

<body ng-app="weatherApp"> 

	 <div class="container-fluid main">
		<div class="row">

			<div class="col-md-4 col-md-push-4 TheMainCard" id="currently" style="XXXpadding: 0 15px;" ng-controller = "CanvaCTRL">
				<div>
					<h2 id="cur-top-title" class="header">{{today.Description}} {{today.Temperature}}</h2>
				</div>

				<div class="mCustomScrollbar scrolling" data-mcs-theme="minimal-dark">

					<div id="cur-top" class="MainPic">
						<img ng-src="{{'img/osn/' + today.Description + '.png'}}" height="100%"/>
					</div>

					<div><canvas id="weather" ></canvas></div>

					<div class="InfoTable">
						<div class="hidden-xs" style="display: inline-block; position: relative; XXXfloat: left; width: 31%; margin: 15px 0 15px 60px;">
							<img src="img/descr/humidity.png" style="width: 80px; position: absolute; top: -15px; left: -70px;"/><span style="font-size: 20px;">{{today.Humidity}}%</span><br>Влажность
						</div>

						<div class="hidden-xs" style="display: inline-block; position: relative; XXXfloat: left; width: 31%; margin: 15px 0 15px 60px;">
							<img src="img/descr/wind.png" style="width: 80px; position: absolute; top: -15px; left: -70px;"/><span style="font-size: 20px;">{{today.WindSpeed}}</span> м/с {{today.WindDirection}}<br>Ветер 
						</div>

						<div style="display: inline-block; position: relative; XXXfloat: left; width: 31%; margin: 15px 0 15px 60px;">
							<img src="img/descr/barometr.png" style="width: 80px; position: absolute; top: -15px; left: -70px;"/><span style="font-size: 20px;">{{today.Pressure}}</span> мм рт. ст.<br>Давление
						</div>

						<div style="display: inline-block; position: relative; XXXfloat: left; width: 31%; margin: 15px 0 15px 60px;">
							<img src="img/descr/hazard.png" style="width: 80px; position: absolute; top: -15px; left: -70px;"/><span style="font-size: 20px;">{{today.Radiation}}</span> мкр.ч.<br>Радиация
						</div>
					</div> <!--InfoTable-->
				</div> <!--Скроллируемая область-->
			</div> <!--Центральный div-->

			<div class="col-md-4 col-md-push-4 CenterAndHidden"  id="future" ng-controller="InfoController">
				<div>
					<h2 class="header">Будущее</h2>
				</div>
				<div class="underlying"></div>

				<div class = "mCustomScrollbar scrolling" id= "scroll" data-mcs-theme="minimal-dark" >
					<div class="paddings" ng-model="numLimit">
						<pb-weather-cards ng-repeat="day in future | limitTo:numLimit" day="day"></pb-weather-cards>
					</div>
					
					<button type="button" class="btn btn-default center-block" ng-click="loading(numLimit)">Ещё</button>
				</div>
			</div>
			
			<div class="col-md-4 col-md-pull-8 CenterAndHidden" id="past" ng-controller="InfoController">
					<div >
						<h2 class="header">Прошлое</h2>	
					</div> 
					<div class="underlying"></div>

					<div class = "mCustomScrollbar scrolling hidden-sm hidden-xs" id="scrolling_past" data-mcs-theme="minimal-dark">
						<div class="paddings" ng-model="numLimit" >
							<pb-weather-cards ng-repeat="day in past | limitTo:numLimit" day="day"></pb-weather-cards>
						</div>
						
						<button type="button" class="btn btn-default center-block" ng-click="loading(numLimit)">Ещё</button>
					</div>
					
					<button type="button" class="btn btn-default center-block visible-xs visible-sm" ng-click="load()" id = "load">Загрузить</button>
					
			</div>
		</div>
	</div>
<!-- Google analytic counter -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70107686-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
