html, body {
	background: ghostwhite;
}
.container-fluid.main {
	max-width: 1250px;
}

.paddings{
	padding-left: 15px;
	padding-right: 15px;
}

.TheMainCard {
	background: white; 
	border: 1px solid gainsboro;
	overflow: hidden;
	height: 99.5%; /*????????????????????????????????????????????????????????????*/
}

table.table.table-bordered.my-table,
table.table.table-bordered.my-table > tbody > tr >td  {
	border: 0px solid white;
	margin-bottom: 0px
}
.weatherCard {
	position: relative; 
	background: white; 
	border: 1px solid gainsboro; 
	margin: 10px 0 10px 0;
}

.CenterAndHidden{
	overflow: hidden; 
	text-align: center; 
}

.MainPic{
	text-align: center; 
	/*padding-left: -15px; 
	padding-right: -15px;*/
	margin-top: 15px;
	margin-bottom: 15px;
}

.TheMainCard .scrolling{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: -15px;
	margin-left: 0px;
}

.InfoTable{
	background: ghostwhite; 
	text-align: center; 
	border-top: 1px solid gainsboro; 
	border-bottom: 1px solid gainsboro; 
	margin: 0;
}

/*ЗАГОЛОВОК
.myStyle {
	font-size: 25px;
	margin: 7px 0;
	text-align: center;								
}/*ЗАГОЛОВОК*/

h2.header{
	/*margin-top: 10px; 
	margin-bottom: 10px;*/
	font-size: 25px;
	margin: 7px 0;
	text-align: center;	
}

.timeBlock {
	padding-top: 12px;
}

div.scrolling_past{
	margin-bottom: 25px;
}

div.scrolling_future{
	margin-bottom: 25px;
}

.row  > .TheMainCard{
	padding-left: 0px;
}

.boxShadow2 { 
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3), -23px 0 10px -23px rgba(0, 0, 0, .8), 23px 0 10px -23px rgba(0, 0, 0, .8), 0 0 20px rgba(0, 0, 0, .1) inset; 
  }
.boxShadow1 { 
box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3), 0px 0px 5px rgba(0, 0, 0, 0.1) inset
}

.imagess{
	width: 50px;
}

.characteristic{
	color: orange; 
	font-size: 14pt;
}

.time{
	font-size: 18pt; 
}

div.day{
	font-size: 12pt; 
}

div.decr{
	color: orange; 
	font-size: 12pt; 
	height: 25px
}

div.colom{
	border-left: 1px solid gainsboro;
	padding-left: 0px;
	padding-right: 0px;
	text-align: left;
}

.elementOfWeather {
	position: relative; 
	margin: 14px 0 14px 40px;
}

.underlying {
	height: 1px; 
	margin: 0 0px;
	background: gainsboro; 
}

.pic {
	position: absolute; 
	top: -10px; 
	left: -40px; 
	width: 40px;
}/*КАРТОЧКА С ПОГОДОЙ*/

.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: rgba(0,0,0,0.5);
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width: 2px;
}