<div class="row  weatherCard" style=" margin: 10px 0 10px 0;">
					<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="row">
							<div class="col-md-4 col-sm-4 col-xs-4"><img class="imagess img-rounded" src="img/descr/rain.png" /></div>
							<div class="col-md-8 col-sm-8 col-xs-8">
								<div class="tumperatur">40%</div> 
								<div class="decr"></div>	
								<div>Влажность</div>	
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 ">
						<div class="row">
							<div class="col-md-4 col-sm-4 col-xs-4"><img class="imagess img-rounded" src="img/descr/wind.png" /></div>
							<div class="col-md-8 col-sm-8 col-xs-8">
								<div class="tumperatur">3м/с</div> 
								<div class="decr">Юг-Вост </div>
			  					<div>Ветер</div>
		  					</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 hidden-xs">
						<div class="row">
							<div class="col-md-4 col-sm-4  col-xs-4"><img class="imagess img-rounded" src="img/descr/barometr.png"/></div>
							<div class="col-md-8 col-sm-8 col-xs-8">
								<div class="tumperatur">745 </div> 
					  			<div class="decr">мм. рт.ст.</div>
					  			<div>Давление</div>
					  		</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 hidden-xs">
						<div class="row">				
							<div class="col-md-4 col-sm-4 col-xs-4"><img class="imagess img-rounded" src="img/descr/hazard.png"/></div>
							<div class="col-md-8 col-sm-8 col-xs-8">
								<div class="tumperatur">18</div>
					  			<div class="decr">мкр. ч</div> 
					  			<div>Радиация</div>
					  		</div>
						</div>
					</div>
				</div>